@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700');

html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  min-width: 360px;
}

md-card *,
md-content *,
::placeholder {
  /*color: rgb(221, 208, 229) !important;*/
  text-shadow: 1px 1px 1px rgba(55, 54, 58, 0.2);
}

table.md-table,
th.md-column,
md-subhead,
md-list *,
md-table-pagination *,
md-pagination-wrapper *,
md-select *,
md-button {
  /*color: rgb(255, 255, 255) !important;*/
}
.md-button[disabled] {
  color: rgba(255, 255, 255, 0.4) !important;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  transition: color .3s;
  color: rgb(76, 184, 96) !important;
}

a:hover {
  transition: color .3s;
  color: rgb(20, 127, 33) !important;;
}

/*
a {
  transition: color .4s;
  color: rgb(92, 72, 113);
}

a:link { text-decoration: none; }
a:visited { color: rgb(92, 72, 113); }
a:hover   { color: rgb(255, 255, 255); }
a:active  {
  transition: color .3s;
  color: rgb(92, 72, 113);
}
*/
.panel-subtitle {
  font-weight: bold;
  font-size: 110%;
}

.footer {
  text-align: center;
  font-size: 90%;
  padding-bottom: 40px;
}

/*** Material Styles ***/

.md-headline {
  font-size: 18px;
}

md-sidenav {
  max-width: 220px;
  min-width: 220px;
}

md-toolbar {
  font-size: 14px;
}

md-toolbar * {
  color: rgb(222, 222, 222) !important;
}

.md-button {
  min-width: 36px;
}

.md-button.md-default-theme.md-accent.md-fab,
.md-button.md-accent.md-fab,
.md-button.md-default-theme.md-accent.md-raised,
.md-button.md-accent.md-raised,
md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent .md-ink-ripple,
md-toolbar:not(.md-menu-toolbar).md-accent .md-ink-ripple,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised  {
  background-color: rgb(52, 163, 55);
}

.md-button.md-accent.md-raised:not([disabled]):hover,
.md-button.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused,
.md-button.md-primary.md-fab:not([disabled]).md-focused,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.md-button.md-primary.md-fab:not([disabled]):hover,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused,
.md-button.md-primary.md-raised:not([disabled]).md-focused,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.md-button.md-primary.md-raised:not([disabled]):hover {
  background-color: rgb(42, 132, 44);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: rgb(42, 132, 44);
}

md-content.md-default-theme, md-content {
  /*background-color: rgb(104, 65, 127);*/
}

md-dialog.md-default-theme, md-dialog {
  /*background-color: rgb(104, 65, 127);*/
}

.material-icons {
  color: rgb(76, 184, 96);
}

#main {
  /*background: rgb(131, 58, 169);*/
}

.maintoolbar {
  background-color: rgb(31, 98, 33);
  color: rgb(255, 255, 255);
}

.maintoolbar span {

}

md-card {
  /*background-color: rgb(166, 126, 190);*/
}

.statsbar md-card-title-text{
  text-align: right;
}

.statsbar md-card md-card-title {
  padding: 10px ;
}

.md-menu-toolbar {
  background: rgb(0, 130, 130);
}

.md-title {
  color: white;
}

.md-subheader {
  background-color: rgb(42, 132, 44);
}

.luck {
  text-allign: right;
  padding: 0 0 0 56px
}

.md-divider {
  color: white;
}

md-tooltip .md-content {
  height: auto !important;
}

.md-tooltip {
  font-size: 100%;
  height: auto !important;
}

.sidenav {
  background-color: rgb(63, 81, 86);
  color: rgb(255, 255, 255);
}

.sidenav ul{
  list-style: none;
}

.sidenav md-list-item {
  padding: 0px;
}

.sidenav md-list-item .pool-item {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.sidenav md-list-item .pool-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sidenav a {
  width: 100%;
  text-align: left;
  color: rgb(255, 255, 255) !important;
  margin: 0px;
}

.sidenav md-menu {
  padding: 0px;
  width: 100%;
  text-align: left;
  color: #fff;
  margin: 0px;
}

.sidebar {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.sidebar a {
  color: rgb(66,66,66);
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87;
}

.sidebar md-icon, .sidebar ng-md-icon {
  vertical-align: middle;
  padding-left: 40px;
}

#content  {
  padding: 10px;
}

.logo {
  background: rgb(11, 13, 23) !important;
  color: rgb(255, 255, 255) !important;
  font-size: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.setup-text {
  color: white;
  font-weight: 600;
}

@media (max-width: 400px) {
  .setup-text {
    display: none;
  }

  .maintoolbar span {
    font-size: 14px;
  }
}

/* HELPERS */
.welcome p {
  padding-left: 25px;
  margin-top: 2px;
}

.welcome h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.truncate{
  width:100px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.nowrap {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.frac { display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid;
}
.frac span.symbol {
  display: none;
}

.hide-error-msg .md-errors-spacer{
  display: none
}

.menu-item {
  position: relative;
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.6;
  transform: translateZ(0);
  -webkit-transform: scale(0.60);
  -moz-transform:scale(0.60);
  font-size: 64px !important;
}
.menu-item path {
  color: rgb(76, 184, 96) !important;
}

.valid {
  color: green !important;
}

.invalid {
  color: red !important;
}

.metric md-icon {
  font-size: 32px;
}

.navbar .login {
  color: #fff !important;
  font-size: 20px;
}

/* CHARTS */

.chart-legend {
  display: none;
}

.chartcontainer {
  width: 100% !important;
  height: 300px;
}

.chartcontainer .ng-isolate-scope {
  height:300px;
}

.chartcontainer-pool {
  width: 100% !important;
  height: 150px;
}

.chartcontainer-pool .ng-isolate-scope {
  height:150px;
}

/* LOGIN WINDOW */
md-dialog .login {
  min-width: 800px;
}

.console {
  height: 300px;
  min-width: 500px;
}

@media (max-width: 600px) {
  .console {
    height: 300px;
    min-width: 100%;
  }

  md-dialog .login {
    min-width: 100% !important;
  }
}

.no-padding {
  padding: 0px;
}

.power {
  width: 100%;
  color: #fff;
}

.power a {
  color: #f2ff2f;
}

.power a:hover {
  color: #f2f;
}

.power a.alt {
  color: #f2f;
}

.power a.alt:hover {
  color: #f2ff2f;
}

.fixed {
  position: fixed;
}

.theironfist {
  cursor: pointer;
}

.md-table-toolbar {
  background-color: rgb(66, 152, 76) !important;
}

.chart *[style], .chart *[font-family] {
  font-family: 'IBM Plex Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
